<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ComplaintMapper">

    <resultMap type="Complaint" id="ComplaintResult">
        <result property="id"    column="id"    />
        <result property="cellId"    column="cell_id"    />
        <result property="buildId"    column="build_id"    />
        <result property="houseId"    column="house_id"    />
        <result property="address"    column="address"    />
        <result property="tellPhone"    column="tell_phone"    />
        <result property="complaintInstructions"    column="complaint_instructions"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="endTime"    column="end_time"    />
    </resultMap>

    <sql id="selectComplaintVo">
        select id, cell_id, build_id, house_id, address, tell_phone, complaint_instructions, remark, status, create_time, end_time from complaint
    </sql>

    <select id="selectComplaintList" parameterType="Complaint" resultMap="ComplaintResult">
        <include refid="selectComplaintVo"/>
        <where>
            <if test="cellId != null "> and cell_id = #{cellId}</if>
            <if test="buildId != null "> and build_id = #{buildId}</if>
            <if test="houseId != null "> and house_id = #{houseId}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="tellPhone != null  and tellPhone != ''"> and tell_phone = #{tellPhone}</if>
            <if test="complaintInstructions != null  and complaintInstructions != ''"> and compalint_instructions = #{complaintInstructions}</if>
            <if test="remark != null  and remark != ''"> and remark = #{remark}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
        </where>
    </select>

    <select id="selectComplaintById" parameterType="Integer" resultMap="ComplaintResult">
        <include refid="selectComplaintVo"/>
        where id = #{id}
    </select>

    <insert id="insertComplaint" parameterType="Complaint" useGeneratedKeys="true" keyProperty="id">
        insert into complaint
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cellId != null ">cell_id,</if>
            <if test="buildId != null ">build_id,</if>
            <if test="houseId != null ">house_id,</if>
            <if test="address != null  and address != ''">address,</if>
            <if test="tellPhone != null  and tellPhone != ''">tell_phone,</if>
            <if test="complaintInstructions != null  and complaintInstructions != ''">Complaint_instructions,</if>
            <if test="remark != null  and remake != ''">remark,</if>
            status,
            <if test="createTime != null ">create_time,</if>
            <if test="endTime != null ">end_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cellId != null ">#{cellId},</if>
            <if test="buildId != null ">#{buildId},</if>
            <if test="houseId != null ">#{houseId},</if>
            <if test="address != null  and address != ''">#{address},</if>
            <if test="tellPhone != null  and tellPhone != ''">#{tellPhone},</if>
            <if test="complaintInstructions != null  and complaintInstructions != ''">#{complaintInstructions},</if>
            <if test="remark != null  and remake != ''">#{remark},</if>
            0,
            <if test="createTime != null ">#{createTime},</if>
            <if test="endTime != null ">#{endTime},</if>
        </trim>
    </insert>

    <update id="updateComplaint" parameterType="Complaint">
        update complaint
        <trim prefix="SET" suffixOverrides=",">
            <if test="cellId != null ">cell_id = #{cellId},</if>
            <if test="buildId != null ">build_id = #{buildId},</if>
            <if test="houseId != null ">house_id = #{houseId},</if>
            <if test="address != null  and address != ''">address = #{address},</if>
            <if test="tellPhone != null  and tellPhone != ''">tell_phone = #{tellPhone},</if>
            <if test="complaintInstructions != null  and complaintInstructions != ''">complaint_instructions = #{complaintInstructions},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="status != null  and status != ''">status = 1,</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            end_time = sysdate(),
            feedback = #{feedback}
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteComplaintById" parameterType="Integer">
        delete from complaint where id = #{id}
    </delete>

    <delete id="deleteComplaintByIds" parameterType="String">
        delete from complaint where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>