<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HouseMapper">
    
    <resultMap type="House" id="HouseResult">
        <result property="id"    column="id"    />
        <result property="cellId"    column="cell_id"    />
        <result property="buildId"    column="build_id"    />
        <result property="unitNum"    column="unit_num"    />
        <result property="floor"    column="floor"    />
        <result property="roomNum"    column="room_num"    />
        <result property="floorArea"    column="floor_area"    />
        <result property="houseArea"    column="house_area"    />
        <result property="poolArea"    column="pool_area"    />
        <result property="roomType"    column="room_type"    />
        <result property="houseRoom"    column="house_room"    />
        <result property="houseOffice"    column="house_office"    />
        <result property="houseBathroom"    column="house_bathroom"    />
        <association property="residentialQuarters" column="cell_id" javaType="ResidentialQuarters" resultMap="ResidentialQuarters" />
        <association property="building" column="build_id" javaType="Building" resultMap="Building" />
    </resultMap>
    <resultMap id="ResidentialQuarters" type="ResidentialQuarters" >
        <result property="id"    column="cell_id"    />
        <result property="cellName"    column="cell_name"    />
    </resultMap>

    <resultMap id="Building" type="Building" >
        <result property="id"    column="build_id"    />
        <result property="buildName"    column="build_name"    />
    </resultMap>
    <sql id="selectHouseVo">
        select h.id, h.cell_id, h.build_id, h.unit_num, h.floor, h.room_num, h.floor_area, h.house_area, h.pool_area, h.room_type, h.house_room, h.house_office, h.house_bathroom,
        r.id as cell_id,r.cell_name,b.id as build_id,b.build_name
        from house h
        left join residential_quarters r on h.cell_id = r.id
        left join building b on h.build_id = b.id
    </sql>

    <select id="selectHouseList" parameterType="House" resultMap="HouseResult">
        <include refid="selectHouseVo"/>
        <where>  
            <if test="cellId != null "> and h.cell_id = #{cellId}</if>
            <if test="buildId != null "> and h.build_id = #{buildId}</if>
            <if test="unitNum != null "> and h.unit_num = #{unitNum}</if>
            <if test="floor != null "> and h.floor = #{floor}</if>
            <if test="roomNum != null "> and h.room_num = #{roomNum}</if>
            <if test="floorArea != null  and floorArea != ''"> and h.floor_area = #{floorArea}</if>
            <if test="houseArea != null  and houseArea != ''"> and h.house_area = #{houseArea}</if>
            <if test="poolArea != null  and poolArea != ''"> and h.pool_area = #{poolArea}</if>
            <if test="roomType != null  and roomType != ''"> and h.room_type = #{roomType}</if>
            <if test="houseRoom != null "> and h.house_room = #{houseRoom}</if>
            <if test="houseOffice != null "> and h.house_office = #{houseOffice}</if>
            <if test="houseBathroom != null "> and h.house_bathroom = #{houseBathroom}</if>
        </where>
    </select>
    
    <select id="selectHouseById" parameterType="Integer" resultMap="HouseResult">
        <include refid="selectHouseVo"/>
        where h.id = #{id}
    </select>
        
    <insert id="insertHouse" parameterType="House" useGeneratedKeys="true" keyProperty="id">
        insert into house
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cellId != null ">cell_id,</if>
            <if test="buildId != null ">build_id,</if>
            <if test="unitNum != null ">unit_num,</if>
            <if test="floor != null ">floor,</if>
            <if test="roomNum != null ">room_num,</if>
            <if test="floorArea != null  and floorArea != ''">floor_area,</if>
            <if test="houseArea != null  and houseArea != ''">house_area,</if>
            <if test="poolArea != null  and poolArea != ''">pool_area,</if>
            <if test="roomType != null  and roomType != ''">room_type,</if>
            <if test="houseRoom != null ">house_room,</if>
            <if test="houseOffice != null ">house_office,</if>
            <if test="houseBathroom != null ">house_bathroom,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cellId != null ">#{cellId},</if>
            <if test="buildId != null ">#{buildId},</if>
            <if test="unitNum != null ">#{unitNum},</if>
            <if test="floor != null ">#{floor},</if>
            <if test="roomNum != null ">#{roomNum},</if>
            <if test="floorArea != null  and floorArea != ''">#{floorArea},</if>
            <if test="houseArea != null  and houseArea != ''">#{houseArea},</if>
            <if test="poolArea != null  and poolArea != ''">#{poolArea},</if>
            <if test="roomType != null  and roomType != ''">#{roomType},</if>
            <if test="houseRoom != null ">#{houseRoom},</if>
            <if test="houseOffice != null ">#{houseOffice},</if>
            <if test="houseBathroom != null ">#{houseBathroom},</if>
         </trim>
    </insert>

    <update id="updateHouse" parameterType="House">
        update house
        <trim prefix="SET" suffixOverrides=",">
            <if test="cellId != null ">cell_id = #{cellId},</if>
            <if test="buildId != null ">build_id = #{buildId},</if>
            <if test="unitNum != null ">unit_num = #{unitNum},</if>
            <if test="floor != null ">floor = #{floor},</if>
            <if test="roomNum != null ">room_num = #{roomNum},</if>
            <if test="floorArea != null  and floorArea != ''">floor_area = #{floorArea},</if>
            <if test="houseArea != null  and houseArea != ''">house_area = #{houseArea},</if>
            <if test="poolArea != null  and poolArea != ''">pool_area = #{poolArea},</if>
            <if test="roomType != null  and roomType != ''">room_type = #{roomType},</if>
            <if test="houseRoom != null ">house_room = #{houseRoom},</if>
            <if test="houseOffice != null ">house_office = #{houseOffice},</if>
            <if test="houseBathroom != null ">house_bathroom = #{houseBathroom},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHouseById" parameterType="Integer">
        delete from house where id = #{id}
    </delete>

    <delete id="deleteHouseByIds" parameterType="String">
        delete from house where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectIdAndUnitNum" parameterType="House" resultMap="HouseResult">
        select id, unit_num from house
    </select>
</mapper>