<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增楼宇管理')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-building-add">
            <div class="form-group">
                <label class="col-sm-3 control-label">小区：</label>
                <div class="col-sm-8">
                    <select  class="form-control" id="cellId" name="cellId" required>
                        <option value="">选择小区</option>
                        <option th:each="cell : ${cells}" th:value="${cell.id}" th:text="${cell.cellName}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">楼宇名称：</label>
                <div class="col-sm-8">
                    <input name="buildName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">单元数量：</label>
                <div class="col-sm-8">
                    <input name="cellNum" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">楼宇层次：</label>
                <div class="col-sm-8">
                    <input name="buildLevel" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">楼宇类型：</label>
                <div class="col-sm-8">
                    <input name="buildType" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">楼宇结构：</label>
                <div class="col-sm-8">
                    <input name="buildStructure" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">楼宇朝向：</label>
                <div class="col-sm-8">
                    <input name="buildOrientation" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="remake" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/building"
        $("#form-building-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-building-add').serialize());
            }
        }
    </script>
</body>
</html>