<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增房屋管理')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-house-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">楼层id：</label>
                <div class="col-sm-8">
                    <input name="cellId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">楼宇id：</label>
                <div class="col-sm-8">
                    <input name="buildId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">单元号：</label>
                <div class="col-sm-8">
                    <input name="unitNum" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">楼层：</label>
                <div class="col-sm-8">
                    <input name="floor" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">门牌号：</label>
                <div class="col-sm-8">
                    <input name="roomNum" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">楼层面积：</label>
                <div class="col-sm-8">
                    <input name="floorArea" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">房屋面积：</label>
                <div class="col-sm-8">
                    <input name="houseArea" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">统筹面积：</label>
                <div class="col-sm-8">
                    <input name="poolArea" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">房屋类型：</label>
                <div class="col-sm-8">
                    <select name="roomType" class="form-control m-b">
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">卧室：</label>
                <div class="col-sm-8">
                    <input name="houseRoom" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">书房：</label>
                <div class="col-sm-8">
                    <input name="houseOffice" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">浴室：</label>
                <div class="col-sm-8">
                    <input name="houseBathroom" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/house"
        $("#form-house-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-house-add').serialize());
            }
        }
    </script>
</body>
</html>