<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增房屋管理')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-house-add">
            <div class="form-group">
                <label class="col-sm-3 control-label">小区：</label>
                <div class="col-sm-8">
                    <select  class="form-control" id="cellId" name="cellId" required>
                        <option value="">选择小区</option>
                        <option th:each="cell : ${cells}" th:value="${cell.id}" th:text="${cell.cellName}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">楼宇：</label>
                <div class="col-sm-8">
                    <select  class="form-control" id="buildId" name="buildId" required>
                        <option value="">选择楼宇</option>
                        <option th:each="build : ${builds}" th:value="${build.id}" th:text="${build.buildName}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">单元号：</label>
                <div class="col-sm-8">
                    <input name="unitNum" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">楼层：</label>
                <div class="col-sm-8">
                    <input name="floor" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">门牌号：</label>
                <div class="col-sm-8">
                    <input name="roomNum" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">楼层面积：</label>
                <div class="col-sm-8">
                    <input name="floorArea" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">房屋面积：</label>
                <div class="col-sm-8">
                    <input name="houseArea" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">统筹面积：</label>
                <div class="col-sm-8">
                    <input name="poolArea" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">房屋类型：</label>
                <div class="col-sm-8">
                    <select name="roomType" class="form-control m-b">
                        <option value="高档住宅">选择房屋类型</option>
                        <option value="高档住宅">高档住宅</option>
                        <option value="普通住宅">普通住宅</option>
                        <option value="公寓式住宅">公寓式住宅</option>
                        <option value="别墅">别墅</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">卧室：</label>
                <div class="col-sm-8">
                    <input name="houseRoom" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">书房：</label>
                <div class="col-sm-8">
                    <input name="houseOffice" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">浴室：</label>
                <div class="col-sm-8">
                    <input name="houseBathroom" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/house"
        $("#form-house-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-house-add').serialize());
            }
        }
    </script>
</body>
</html>